# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

/.github                  export-ignore
/.vscode                  export-ignore
/Assets                   export-ignore
/Demo                     export-ignore
/Resources                export-ignore
/.gitattributes           export-ignore
/.gitignore               export-ignore
/Demo.cs                  export-ignore
/Demo.tscn                export-ignore
/LICENSE                  export-ignore
/preview.gif              export-ignore
/preview_image.png        export-ignore
/project.godot            export-ignore
/README.md                export-ignore
/TerraBrush.csproj        export-ignore
/terrabrush.png           export-ignore
/terrabrush.png.import    export-ignore
/TerraBrush.sln           export-ignore
