<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Default nuget feed -->
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="godot-dotnet" value="https://pkgs.dev.azure.com/godotengine/godot-dotnet/_packaging/godot-nightly/nuget/v3/index.json" />
  </packageSources>
</configuration>
